.field {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.field-part {
  width: 25%;
  height: 25%;
  background-color: brown;
  outline: 1px solid black;
}

/* .goblin {

} */